html{
    background-color: rgb(31, 29, 29);
    color: white
}


h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


#container img{
    display: block;
    margin: auto;
    height:400px;
    width: 600px;
}

p {
    text-align: center;
}